<header>
    <div role="button" tabindex="0" id="logo-container">
        <img id="header-logo" src="../../assets/images/logo.png" alt="myHealth logo">
    </div>
    <div id="not-logged">
        <button mat-raised-button id="iniciar-sesion" color="salmon">Iniciar sesión</button>
        <button mat-raised-button id="registro" color="salmon">Registrarse</button>
    </div>
    <div id="logged">
        <button mat-raised-button id="carrito-compra" color="salmon"><span class="material-icons-outlined">shopping_cart</span></button>
        <button mat-raised-button id="mi-cuenta" color="salmon">Mi cuenta</button>
    </div>
</header>