@import "../../styles.scss";

header{
    width: 100%;
    background-color: $myapp-verdeClaro;
    display: flex;
    justify-content: space-between;

    #logo-container{
        width: 40%;
        margin: 15px 0px 10px 15px;
    }

    #header-logo{
        width: 100%;
        max-width: 220px;
        max-height: 50px;
    }

    #not-logged{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5%;
        margin-right: 15px;
    }

    #logged{
        display: none;
        justify-content: center;
        align-items: center;
        gap: 5%;
        margin-right: 15px;
    }
}


.pop-up{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 400px;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    background-color: white;
    z-index: 9999;
    padding: 10px;
    .header-popup{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 15%;
        .material-icons-outlined{
            font-size: 32px;
        }
        .material-icons-outlined:hover{
            cursor: pointer;
        }
        img{
            height: 30px;
            width: 160px;
            margin-left: 100px;
            margin-top: 5px;
        }
    }
    form{
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        .mat-raised-button.mat-salmon{
            padding-top: 3px;
            padding-bottom: 3px;
            margin-top: 5px;
        }
        a{
            margin-top: 10px;
            color: $myapp-naranja;
            font-weight: bolder;
        }
        a:hover{
            cursor: pointer;
        }
    }
}

#login{
    height: 300px;
    width: 300px;
    .header-popup{
        img{
            margin-left: 60px;
        }
    }
}
