<footer>
    <div class="elements-footer">
        <div class="footer-logo">
            <img src="../assets/images/logo.png">
        </div>
        <div class="footer-app">
            <p>Disponible en:</p>
            <div class="footer-app-imagenes">
                <img class="app-store" src="../assets/images/disponible-en-app-store.jpg">
                <img class="google-play" src="../assets/images/disponible-en-google-play.png">
            </div>
        </div>
        <div class="footer-links">
            <a src="" >Términos y condiciones</a>
            <a src="" >Política de privacidad</a>
        </div>
    </div>
</footer>
