<footer>
    <div class="elements-footer">
        <div class="footer-logo">
            <img routerLink="home" src="assets/images/logo.png" alt="MyHealth logo">
        </div>
        <div class="footer-app">
            <p>Disponible en:</p>
            <div class="footer-app-imagenes">
                <img tabindex="0" class="app-store" src="assets/images/disponible-en-app-store.jpg" alt="disponible en app store">
                <img tabindex="0" class="google-play" src="assets/images/disponible-en-google-play.png" alt="disponible en google play">
            </div>
        </div>
        <div class="footer-links">
            <a tabindex="0" src="" >Términos y condiciones</a>
            <a tabindex="0" src="" >Política de privacidad</a>
        </div>
    </div>
</footer>
