@import "../../styles.scss";

#tramitar-container {
    min-height: calc(100vh - 56px - 127px);
}

nav{
    background-color: $myapp-verdeOscuro;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .links{
        display: flex;
        justify-content: flex-start;
        gap: 10%;
        margin-left: 15px;
        color: white;
        width: 50%;
        align-items: center;

        h2 {
            margin: 0;
            cursor: pointer;
        }

        h2:hover{
            color: $myapp-naranja;
        }

    }
}


.mat-slide-toggle.mat-voz{
    font-family: $myapp-font;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 8%;
    color: white;
    margin: 10px 15px 10px 0px;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $myapp-verdeBrillante;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: $myapp-grisOscuro;
}

::ng-deep .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-thumb {
    background-color: $myapp-salmon;
}

::ng-deep .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-bar {
    background-color: $myapp-grisOscuro;
}

.contenido{
    display:flex;
    flex-direction: row;
    .carrito{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h2{
            margin: 20px;
        }
        .med-container{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            .med-bought{
                display: flex;
                flex-direction: column;
                align-items: center;
                .info-bought{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 80%;
                    .med-bought-imgCont{
                        width: 20%;
                        img{
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: cover;
                        }
                    }
                    .med-bought-title{
                        width: 80%;
                        text-align: left;
                        padding-left: 10px;
                        h2{
                            padding: 0;
                            margin: 0;
                            margin-bottom: 10px;
                        }
                    }
                    .med-compra{
                        display: flex;
                        flex-direction: column;
                        width: 20%;
                        align-items: right;
                        .unidades{
                            display: flex;
                            flex-direction: row;
                            p{
                                margin-right: 10px;
                            }
                            .med-unidades{
                                display: flex;
                                flex-direction: row;
                                background-color: $myapp-verdeClaro;
                                border-radius: 20px;
                                height: 20px;
                                width: 80px;
                                p{
                                    margin-right: 10px;
                                    margin-left: 10px;
                                    width: 50%;
                                }
                                button{
                                    background-color: $myapp-grisOscuro;
                                    color: white;
                                    width: 30%;
                                    cursor: pointer;
                                }
                            }

                        }
                        .total{
                            display: flex; 
                            flex-direction: row;
                            .div-precio-total{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                background-color: $myapp-verdeClaro;
                                border-radius: 5px;
                                width: 80px;
                                height: 20px;
                                margin-left: 33px;
                            }
                        }   
                    } 
                }
                mat-divider{
                    width: 60%;
                }
            }
        }
        .botones-compra{
            display: flex;
            flex-direction: inline;
            justify-content: space-between;
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 20px;
            margin-bottom: 50px;
            button{
                width: 40%;
            }        
        }
    }
    .data{
        width: 20%;
        height: 80%;
        margin-top: 5%;
        margin-right: 5%;
        background-color: #c7ff799f;
        border-radius: 20px;
        padding: 20px;
        .direccion-envio{
            display: flex;
            flex-direction: column;
            h2{
                margin-left: 40px;
            }
            .labels{
                background-color: $myapp-verdeClaro;
                padding-left: 15px;
                padding-top: 5px;
                padding-bottom: 5px;
                align-items: center;
                display: flex;
                border-radius: 10px;
                width: 60%;
                height: 15px;
                margin-bottom: 5px;
                margin-left: 80px;
                p{
                    margin: 5px;
                }
            }
            .editar-button{
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
        .metodo-pago{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            h2{
                margin-left: 40px;
            }
            .datos-pago{
                display: flex;
                flex-direction: row;
                width: 80%;
                margin-left: 40px;
                align-items: center;
                .card{
                    width: 20%;
                    margin-right: 10px;
                    .material-symbols-outlined{
                        font-size: 400%;
                    }
                }
                .labels{
                    background-color: $myapp-verdeClaro;
                    padding-left: 15px;
                    padding-top: 10px;
                    align-items: center;
                    display: flex;
                    border-radius: 10px;
                    width: 60%;
                    height: 15px;
                    margin-bottom: 5px;
                    margin-left: 5px;
                }
            }
            .editar-button{
                width: 100%;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                button{
                    margin-bottom: 20px;
                }
            }
        }
    }
}

#menos{
    border-radius: 5px 0 0 5px;
}

#mas{
    border-radius: 0 5px 5px 0;
}
#direccion{
    height: 45px;
}
#vertical-separator{
    margin-top: 6%;
    margin-right: 80px;
}
#cvv{
    width: 20%;
    background-color: $myapp-verdeClaro;
    padding-left: 15px;
    padding-top: 10px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    height: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.pop-up{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 400px;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    background-color: white;
    z-index: 9999;
    padding: 10px;
    .header-popup{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 10%;
        .material-icons-outlined{
            font-size: 32px;
        }
        .material-icons-outlined:hover{
            cursor: pointer;
        }
        img{
            height: 30px;
            width: 160px;
            margin-left: 100px;
            margin-top: 5px;
        }
    }
}