<div id="tramitar-container">
    <nav>
        <div class="links">
            <h2 role="link" tabindex="0" routerLink="/favoritos">Favoritos</h2>
            <h2 role="link" tabindex="0" routerLink="/recordatorios">Mis recordatorios</h2>
            <h2 role="link" tabindex="0" routerLink="/mis-pedidos">Mis pedidos</h2>
            <h2 role="link" tabindex="0" (click)="cerrarSesion()">Cerrar Sesion</h2>
        </div>
        <div class="slider">
            <mat-slide-toggle color="voz" id="descripcionVoz" [checked]=desc (change)="changeDesc()">Descripción por voz</mat-slide-toggle>
        </div>
    </nav>

    <div class="contenido">
        <div class="carrito">
            <h2>Tu carrito de la compra</h2>
            <div class="med-container" *ngFor="let med of medicamentos">
                <div class="med-bought" *ngIf="med.bought">
                    <div class="info-bought">
                        <div class="med-bought-imgCont">
                            <img [src]=med.img_source [alt]=med.title>
                        </div>
                        <div class="med-bought-title">
                            <h2>{{med.title}} - {{med.price | currency: 'EUR':'€':'1.2-2':'fr'}}</h2>
                            <p>{{med.desc_short}}</p>
                        </div>
                        <div class="med-compra">
                            <div class="unidades">
                                <p>Unidades: </p>
                                <div class="med-unidades">
                                    <button id="menos" (click)="restarUnidad(med.id)" (keydown)="restarUnidadTab($event, med.id)">-</button>
                                    <p>{{med.units}}</p>
                                    <button id="mas" (click)="sumarUnidad(med.id)" (keydown)="sumarUnidadTab($event, med.id)">+</button>
                                </div>
                            </div>
                            <div class="total">
                                <p>Total: </p>
                                <div class="div-precio-total">
                                    <p>{{med.total | currency: 'EUR':'€':'1.2-2':'fr'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </div>
            <div class = "botones-compra">
                <button mat-raised-button color="salmon" routerLink="/">Seguir comprando</button>
                <button mat-raised-button color="salmon" (click)="FinalizarCompra()" (keydown)="finalizarCompraTab($event)">Finalizar compra</button>
            </div>
        </div>
        <mat-divider id="vertical-separator" vertical style="height: 50vh"></mat-divider>
        <div class="data">
            <div class="direccion-envio">
                <h2>Dirección de envío:</h2>
                <div class="labels" id="direccion">
                    <p>Calle La Guirao, <br>
                        nº32&emsp;2ºA</p>
                </div>
                <div class="labels">
                    <p>Madrid</p>
                </div>
                <div class="labels">
                    <p>Madrid, 28035</p>
                </div>
                <div class="editar-button">
                    <button  mat-raised-button color="salmon" (click)="editarEntrega()" (keydown)="editarEntregaTab($event)">Editar</button>
                </div>
            </div>
            <div class="metodo-pago">
                <h2>Seleccionar método de pago:</h2>
                <div class="datos-pago">
                    <div class="card">
                        <span class="material-symbols-outlined">credit_card</span>
                    </div>
                    <div class="labels">
                        <p>Número de tarjeta</p>
                    </div>
                    <div id="cvv">
                        <p>CVV</p>
                    </div>
                </div>
                <div class="editar-button">
                    <button  mat-raised-button color="salmon" (click)="editarTarjeta()" (keydown)="editarTarjetaTab($event)">Editar</button>
                    <p>Si no añade una tarjeta se le cobrará una <br> 
                        vez entregado el paquete. Esto podrá<br>
                        ser en efectivo o con tarjeta.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showBack" class="blurback"></div>

<div *ngIf="showFinCompra" class="pop-up" id="finalizarCompra">
    <div class="header-popup">
        <img src="assets/images/logo.png" alt="myHealth logo">
        <span tabIndex="0" class="material-icons-outlined" (click)="closeFC()" (keydown)="closeFCTab($event)">highlight_off</span>
    </div>
    <div class="finalizar-compra">
        <h2>Finalizar compra</h2>
        <textarea placeholder="Comentarios acerca de la entrega del pedido"></textarea>
        <button mat-raised-button color="salmon" routerLink="/mis-pedidos"> Aceptar </button>
    </div>
</div>

<div *ngIf="showEdDir" class="pop-up" id="editar-direccion">
    <div class="header-popup">
        <img src="assets/images/logo.png" alt="myHealth logo">
        <span tabIndex="0" class="material-icons-outlined" (click)="closeEdDir()" (keydown)="closeEdDirTab($event)">highlight_off</span>
    </div>
    <div class="finalizar-compra">
        <h2>Editar dirección de envío</h2>
        <div class="datos1">
            <mat-form-field appearance="fill">
                <mat-label>Direccion</mat-label>
                <input matInput>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Portal</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="datos1">
            <mat-form-field appearance="fill">
                <mat-label>Escalera</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Piso</mat-label>
                <input matInput>
            </mat-form-field>

        </div>
        <div class="datos1">
            <mat-form-field appearance="fill">
                <mat-label>Letra</mat-label>
                <input matInput>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Provincia</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="datos1">
            <mat-form-field appearance="fill">
                <mat-label>Ciudad</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Código postal</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <button mat-raised-button color="salmon" (click)="closeEdDir()" (keydown)="closeEdDirTab($event)" > Aceptar </button>
    </div>
</div>

<div *ngIf="showEdTar" class="pop-up" id="editar-tarjeta">
    <div class="header-popup">
        <img src="assets/images/logo.png" alt="myHealth logo">
        <span tabIndex="0" class="material-icons-outlined" (click)="closeEdTar()" (keydown)="closeEdTarTab($event)">highlight_off</span>
    </div>
    <div class="finalizar-compra">
        <h2>Añadir tarjeta</h2>
        <div class="datos2">
            <mat-form-field appearance="fill">
                <mat-label>Número de tarjeta</mat-label>
                <input matInput>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>CVV</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <button mat-raised-button color="salmon" (click)="closeEdTar()" (keydown)="closeEdTarTab($event)"> Aceptar </button>
    </div>
</div>