@import "../../styles.scss";

#favoritos-container {
  min-height: calc(100vh - 56px - 127px);
}

nav{
  background-color: $myapp-verdeOscuro;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  .links{
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    margin-left: 15px;
    color: white;
    width: 50%;
    align-items: center;

    h2 {
        margin: 0;
        cursor: pointer;
    }

    h2:hover{
        color: $myapp-naranja;
    }

  }
}
  
.mat-slide-toggle.mat-voz {
  font-family: $myapp-font;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 8%;
  color: white;
  margin: 10px 15px 10px 0px;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: $myapp-verdeBrillante;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: $myapp-grisOscuro;
}

::ng-deep .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-thumb {
  background-color: $myapp-salmon;
}

::ng-deep .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-bar {
  background-color: $myapp-grisOscuro;
}

#titulo-favs{
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

#lista-favs{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .fav-container{
    width: 80%;

    .med-fav{
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      gap: 10%;
      margin-bottom: 15px;
      align-items: center;
      border-bottom: 2px solid black;

      .fav-img-container{
        width: 150px;
        height: 175px;
        
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .med-info{
        display: flex;
        width: 30%;
        height: 80%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
      }

      .med-actions{
        display: flex;
        width: 30%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button{
          margin: 10px auto;
        }
      }

    }

  }
}
