<div id="recordatorios-container">
    <nav>
        <div class="links">
            <h2 role="link" tabindex="0" routerLink="/favoritos">Favoritos</h2>
            <h2 role="link" class="active" tabindex="0" routerLink="/recordatorios">Mis recordatorios</h2>
            <h2 role="link" tabindex="0" routerLink="/mis-pedidos">Mis pedidos</h2>
            <h2 role="link" tabindex="0" (click)="cerrarSesion()">Cerrar Sesion</h2>
        </div>
        <div class="slider">
            <mat-slide-toggle color="voz" id="descripcionVozRec" [checked]=desc (change)="changeDesc()">Descripción por voz</mat-slide-toggle>
        </div>
    </nav>

    <h1>
        Mis recordatorios
    </h1>
    <div id="add-record-button">
        <button mat-raised-button color="salmon" (click)="openAdd()">Añadir un recordatorio</button>
    </div>

    <full-calendar [options]="calendarOptions"></full-calendar>

    <div id="backblur" class="blurback">

        <div id="add-event" class="pop-up">
            <div class="header-popup">
                <img src="../../assets/images/logo.png" alt="myHealth logo">
                <span tabIndex="0" class="material-icons-outlined" (keydown)="closeAddTab($event)"
                    (click)="closeAdd()">highlight_off</span>
            </div>
            <form>
                <h2>Añade un recordatorio</h2>
                <div class="filaAdd">
                    <mat-form-field appearance="fill" id="medicamento">
                        <mat-label>Medicamento</mat-label>
                        <input id="medNombre" matInput type="text" placeholder="Paracetamol 1gr">
                    </mat-form-field>
                    <mat-form-field appearance="fill" id="dosis-field">
                        <mat-label>Dosis</mat-label>
                        <input id="dosis" matInput type="text" placeholder="2 comprimidos">
                    </mat-form-field>
                </div>
                <h3>Fecha de inicio y fin</h3>
                <div class="filaAdd">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de inicio</mat-label>
                        <input matInput id="fecha-inicio" [matDatepicker]="startdate" disabled>
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                        <mat-datepicker #startdate disabled="false"></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de fin</mat-label>
                        <input matInput id="fecha-fin" [matDatepicker]="enddate" disabled>
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                        <mat-datepicker #enddate disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="filaAdd-bottom">
                    <mat-form-field appearance="fill">
                        <mat-label>Hora de aviso</mat-label>
                        <input matInput [ngxTimepicker]="picker" id="hora-escogida">
                        <ngx-material-timepicker #picker></ngx-material-timepicker>
                    </mat-form-field>
                    <ngx-colors [(ngModel)]="selectedColor" name="color" ngx-colors-trigger></ngx-colors>
                </div>

                <button mat-raised-button color="salmon" (click)="addRecord($event)" type="submit">Añadir recordatorio</button>
            </form>
        
        </div>
    </div>

    <div id="backblur-event" class="blurback">
        <div id="show-event" class="pop-up">
            <div class="header-popup">
                <img src="../../assets/images/logo.png" alt="myHealth logo">
                <span tabIndex="0" class="material-icons-outlined" (keydown)="closeShowTab($event)"
                    (click)="closeShow()">highlight_off</span>
            </div>
            <div id="info-container">
                <h2 id="event-title"></h2>
                <div>
                    <p id="event-dosis">La dosis es </p>
                    <p id="event-hora">Debe tomarlo a la(s) </p>
                </div>   
            </div>
            <div id="button-div"><button mat-raised-button color="salmon" (click)="alertar('No funciona')">Borrar el evento</button></div>
            
        </div>
    </div>
</div>
