@import "../../styles.scss";

#recordatorios-container {
    min-height: calc(100vh - 56px - 127px);
}

nav{
    background-color: $myapp-verdeOscuro;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .links{
        display: flex;
        justify-content: flex-start;
        gap: 10%;
        margin-left: 15px;
        color: white;
        width: 60%;
        align-items: center;

        h2 {
            margin: 0;
            cursor: pointer;
        }

        h2:hover{
            color: $myapp-naranja;
        }
    }
}

h1{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

full-calendar{
    width: 80%;
    height: 700px;
    margin: 10px auto;
    background-color: #c7ff799b;
    border-radius: 5px;
}

::ng-deep .fc .fc-header-toolbar {
    margin: 10px 20px;
}

::ng-deep .fc .fc-toolbar-title{
    font-family: $myapp-font;
    font-weight: bold;
    font-size: 20;
    letter-spacing: 4%;
}

:Host ::ng-deep .fc .fc-daygrid-day.fc-day-today{
    background-color: var(--fc-today-bg-color, #e0787390);
}

:Host ::ng-deep .fc .fc-timegrid-col.fc-day-today {
    background-color: var(--fc-today-bg-color, #e0787390);
}

:Host ::ng-deep .fc .fc-button.fc-button-primary {
    font-family: $myapp-font;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 8%;
    color: white;
    border: none;
    background-color: $myapp-salmon;
    box-shadow: none;
}

:Host ::ng-deep .fc .fc-view-harness{
    width: 95%;
    margin: 10px auto;
}

:Host ::ng-deep .fc .fc-scrollgrid-section.fc-scrollgrid-section-header{
    background-color: #e0787390;
}

:Host ::ng-deep .fc .fc-highlight{
    background-color: #f5b164a0;
}

.mat-slide-toggle.mat-voz{
    font-family: $myapp-font;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 8%;
    color: white;
    margin: 10px 15px 10px 0px;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $myapp-verdeBrillante;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: $myapp-grisOscuro;
}

::ng-deep .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-thumb {
    background-color: $myapp-salmon;
}

::ng-deep .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-bar {
    background-color: $myapp-grisOscuro;
}

.blurback{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(195, 247, 198, 0.332);
    z-index: 20;
}

.pop-up{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 400px;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    z-index: 21;
}

.timepicker-overlay{
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay{
    z-index: 10000000 !important;
}