<div id="pedidos-container">
    <nav>
        <div class="links">
            <h2 role="link" tabindex="0" routerLink="/">Acerca de nostros</h2>
            <h2 role="link" tabindex="0" routerLink="/">Preguntas frecuentes</h2>
        </div>
        <div class="links" id="logged-home">
            <h2 role="link" tabindex="0" routerLink="/favoritos">Favoritos</h2>
            <h2 role="link" tabindex="0" routerLink="/recordatorios">Mis recordatorios</h2>
            <h2 role="link" class="active" tabindex="0" routerLink="/mis-pedidos">Mis pedidos</h2>
            <h2 role="link" tabindex="0" (click)="cerrarSesion()">Cerrar Sesion</h2>
        </div>
        <div class="slider">
            <mat-slide-toggle color="voz" id="descripcionVozPed" [checked]=desc (change)="changeDesc()">Descripción por voz</mat-slide-toggle>
        </div>
    </nav>

    <div id="pedidos">
        <div class="pedido" id="1234">
            <div class="bloque1">
                <h1 class="titulos">Pedido numero: 1234</h1>
                <h2 class="contenido">1 unidad - Rhinocort 64 μgr</h2>
            </div>
            <div class="bloque2">
                <h1 class="titulos">Tipo de pago</h1>
                <h2 class="contenido">Efectivo</h2>
            </div>
            <div class="bloque3">
                <h1 class="titulos">Dirección de envío</h1>
                <h2 class="contenido">Calle La Guirao, Nº 32, 2º A, Madrid, Madrid 28035</h2>
            </div>
            <div class="bloque4">
                <h1 class="titulos">Dirección de facturación</h1>
                <h2 class="contenido">Calle La Guirao, Nº 32, 2º A, Madrid, Madrid 28035</h2>
            </div>
            <div class="bloque5">
                <h2 class="titulos">Total del pedido: 8,12€</h2>
                <h2 class="follow" id="follow1">Seguir mi pedido</h2>
            </div>
        </div>
        <div class="pedido" id="5678">
            <div class="bloque1">
                <h1 class="titulos">Pedido numero: 5678</h1>
                <h2 class="contenido">5 unidades - Ibuprofeno 400mg</h2>
            </div>
            <div class="bloque2">
                <h1 class="titulos">Tipo de pago</h1>
                <h2 class="contenido">Tarjeta</h2>
            </div>
            <div class="bloque3">
                <h1 class="titulos">Dirección de envío</h1>
                <h2 class="contenido">Avenida Macaco, Nº 69, 5º I, Madrid, Madrid 28026</h2>
            </div>
            <div class="bloque4">
                <h1 class="titulos">Dirección de facturación</h1>
                <h2 class="contenido">Calle Iniesta de mi vida, Nº 115, Barcelona, Barcelona 56809</h2>
            </div>
            <div class="bloque5">
                <h2 class="titulos">Total del pedido: 10,96€</h2>
                <h2 class="follow" id="follow2">Seguir mi pedido</h2>
            </div>
        </div>
    </div>
</div>