@import "../../styles.scss";

#user-container {
    min-height: calc(100vh - 56px - 127px);
}

nav{
    background-color: $myapp-verdeOscuro;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .links{
        display: flex;
        justify-content: flex-start;
        gap: 10%;
        margin-left: 15px;
        color: white;
        width: 60%;
        align-items: center;

        h2 {
            margin: 0;
            cursor: pointer;
        }

        h2:hover{
            color: $myapp-naranja;
        }
    }
}

.mat-slide-toggle.mat-voz{
    font-family: $myapp-font;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 8%;
    color: white;
    margin: 10px 15px 10px 0px;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $myapp-verdeBrillante;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: $myapp-grisOscuro;
}

::ng-deep .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-thumb {
    background-color: $myapp-salmon;
}

::ng-deep .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-bar {
    background-color: $myapp-grisOscuro;
}

.data_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.user_info{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 20%;
    background-color:#c7ff799f;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 15%;

    h2{
        text-decoration: underline;
    }

    h3{
        font-weight:normal ;
    }
}

.cards{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 7%;
    width: 100%;

    h1{
        font-weight: bold;
    }
}

.cards_container{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    button{
        width: 30%;
    }
    
}

.personal_card{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#C8FF7950;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 85%;
    height: 70%;;
    .info{
        margin: 5%; 
        height: 40%;
        width: 25%;
    }
    .material-symbols-outlined{
        font-size: 1000%;
        height: 100%;
        width: 100%;
        ;
    }

    .card{
        margin-bottom: 5%; 
        margin-left: 5%; 
        margin-right: 5%; 
        margin-top: 2%; 
        height: 33%;
    }
    .material-icons-outlined{
        font-size: 32px;
        margin-top:20%;
    
    }

}

.pop-up{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    background-color: white;
    z-index: 9999;
    padding: 10px;
    .header-popup{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 10%;
        .material-icons-outlined{
            font-size: 32px;
        }
        .material-icons-outlined:hover{
            cursor: pointer;
        }
        img{
            height: 30px;
            width: 160px;
            margin-left: 100px;
            margin-top: 5px;
        }
    }


    form{
        height: 98%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        h2{
            margin-bottom: 30px;
        }
        .mat-raised-button.mat-salmon{
            padding-top: 3px;
            padding-bottom: 3px;
            margin-top: 5px;
        }

    }
}

#user_info{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    .filaReg{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        width: 70%;
        }

}

#tarjetas{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 550px;
    .filaReg{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }
    .popup-footer{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }
}


.blurback{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
    backdrop-filter: blur(2px);
    background-color: rgba(195, 247, 198, 0.332);
}

