<div id="home-container">
    <nav>
        <div class="links">
            <h2 role="link" tabindex="0" routerLink="/">Acerca de nostros</h2>
            <h2 role="link" tabindex="0" routerLink="/">Preguntas frecuentes</h2>
        </div>
        <div class="slider">
            <mat-slide-toggle color="voz">Descripción por voz</mat-slide-toggle>
        </div>
    </nav>

    <div class="search_tool">
        <form class="search_form">
            <div class="search_bar">
                    <input type="search" class="search_text">
                    <input type="submit" class="search_button" value="S">
            </div>
            <div class="chooser_container">
                <div class="chooser" id="farmacia">
                    <input type="checkbox" id="farmacia_checkbox"> Farmacia
                </div>

                <div class="chooser" id="parafarmacia">
                    <input type="checkbox" id="parafarmacia_checkbox">Parafarmacia
                </div>

                <div class="chooser" id="ortopedia">
                    <input type="checkbox" id="ortopedia_checkbox">Ortopedia
                </div>
            </div>
        </form>
    </div>
</div>