<div id="home-container">
    <nav>
        <div class="links">
            <h2 role="link" tabindex="0" routerLink="/">Acerca de nostros</h2>
            <h2 role="link" tabindex="0" routerLink="/">Preguntas frecuentes</h2>
        </div>
        <div class="links" id="logged-home">
            <h2 role="link" tabindex="0" routerLink="/favoritos">Favoritos</h2>
            <h2 role="link" tabindex="0" routerLink="/recordatorios">Mis recordatorios</h2>
            <h2 role="link" tabindex="0" routerLink="/mis-pedidos">Mis pedidos</h2>
            <h2 role="link" tabindex="0" (click)="cerrarSesion()">Cerrar Sesion</h2>
        </div>
        <div class="slider">
            <mat-slide-toggle color="voz" id="descripcionVoz" [checked]=desc (change)="changeDesc()">Descripción por voz</mat-slide-toggle>
        </div>
    </nav>

    <div class="search_tool">
        <form class="search_form">
            <div class="search_bar">
                    <input type="search" id="text_search" class="search_text">
                    <button class= search_button mat-button color="med" (change)="handleChange()" (click)="search('a')">
                        <span class="material-symbols-outlined">search </span>
                    </button>
            </div>
            <div class="chooser_container">
                <div class="chooser" id="farmacia">
                    <input (click)="search('farmacia')" type="checkbox" id="farmacia_checkbox"> Farmacia
                </div>

                <div class="chooser" id="parafarmacia">
                    <input (click)="search('parafarmacia')" type="checkbox" id="parafarmacia_checkbox">Parafarmacia
                </div>

                <div class="chooser" id="ortopedia">
                    <input (click)="search('ortopedia')" type="checkbox" id="ortopedia_checkbox">Ortopedia
                </div>
            </div>
        </form>
    </div>

    <div id="receta-container">
        <div class="circle"></div>
        <h2>Necesita prescripción médica</h2>
    </div>

    <div id="medicamentos-container">
        <div class="med-container" *ngFor="let med of medicamentos | searchFilter: filtroBusqueda">
            <div class="med-circle" *ngIf=med.receta></div>
            <div class="med-img-container">
                <img [src]=med.img_source [alt]=med.title>
            </div>
            <div class="med-title-container">
                <h2>{{med.title}}</h2>
                <h2>{{med.price | currency: 'EUR':'€':'1.2-2':'fr'}}</h2>
            </div>
            <div class="med-desc-container">
                <p>{{med.desc_short}}</p>
            </div>
            <div class="med-buttons-container">
                <button mat-button color="med" (click)="changeFill(med.id, 'shop')">
                    <span class="material-icons" *ngIf="med.bought">shopping_cart</span>
                    <span class="material-icons-outlined" *ngIf="!med.bought">shopping_cart</span>
                </button>
                <button mat-button color="med" (click)="changeFill(med.id, 'fav')">
                    <span class="material-icons-outlined" *ngIf=!med.favorite>favorite_border</span>
                    <span class="material-icons-outlined" *ngIf=med.favorite>favorite</span>
                </button>
            </div>
        </div>
    </div>
</div>